# Importing Packiges

In [61]:
import pandas as pd
import numpy as np
import zipfile

In [62]:
with zipfile.ZipFile('loan_data_2007_2014.csv.zip', 'r') as zip_ref:
    zip_ref.extractall('Datasets')

In [918]:
loan_data =pd.read_csv('Datasets/loan_data_2007_2014.csv')

/var/folders/hg/jgrbrly50wz_1z4gjyycxhzr0000gn/T/ipykernel_95023/1451434724.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data =pd.read_csv('Datasets/loan_data_2007_2014.csv')

# Loading and Exploring Data

In [919]:
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.00,0.00,0.00,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.00,0.00,0.00,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.00,0.00,0.00,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.00,0.00,0.00,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.00,0.00,0.00,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [920]:
pd.options.display.max_columns = None

In [921]:
loan_data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.00,0.00,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.00,0.00,0.00,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.00,0.00,0.00,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.00,0.00,0.00,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.00,0.00,0.00,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.00,0.00,0.00,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [922]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [923]:
loan_data.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')

In [924]:
loan_data.dtypes

Unnamed: 0                       int64
id                               int64
member_id                        int64
loan_amnt                        int64
funded_amnt                      int64
funded_amnt_inv                float64
term                            object
int_rate                       float64
installment                    float64
grade                           object
sub_grade                       object
emp_title                       object
emp_length                      object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_d                         object
loan_status                     object
pymnt_plan                      object
url                             object
desc                            object
purpose                         object
title                           object
zip_code                        object
addr_state                      object
dti                            float64
delinq_2yrs                    float64
earliest_cr_line                object
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_acc                       float64
pub_rec                        float64
revol_bal                        int64
revol_util                     float64
total_acc                      float64
initial_list_status             object
out_prncp                      float64
out_prncp_inv                  float64
total_pymnt                    float64
total_pymnt_inv                float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_pymnt_d                    object
last_pymnt_amnt                float64
next_pymnt_d                    object
last_credit_pull_d              object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
annual_inc_joint               float64
dti_joint                      float64
verification_status_joint      float64
acc_now_delinq                 float64
tot_coll_amt                   float64
tot_cur_bal                    float64
open_acc_6m                    float64
open_il_6m                     float64
open_il_12m                    float64
open_il_24m                    float64
mths_since_rcnt_il             float64
total_bal_il                   float64
il_util                        float64
open_rv_12m                    float64
open_rv_24m                    float64
max_bal_bc                     float64
all_util                       float64
total_rev_hi_lim               float64
inq_fi                         float64
total_cu_tl                    float64
inq_last_12m                   float64
dtype: object

In [925]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

# Str into num type

In [926]:
loan_data['int_emp_lenght'] = loan_data['emp_length'].str.replace('\+ years', '')
loan_data['int_emp_lenght']= loan_data['int_emp_lenght'].str.replace('< 1 year',str(0))
loan_data['int_emp_lenght'] = loan_data['int_emp_lenght'].str.replace('nan',str(0))
loan_data['int_emp_lenght']  = loan_data['int_emp_lenght'].str.replace('years','')
loan_data['int_emp_lenght'] = loan_data['int_emp_lenght'].str.replace('year','')

/var/folders/hg/jgrbrly50wz_1z4gjyycxhzr0000gn/T/ipykernel_95023/2613166149.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data['int_emp_lenght'] = loan_data['emp_length'].str.replace('\+ years', '')

In [927]:
type(loan_data['int_emp_lenght'][0])

str

In [928]:
loan_data['int_emp_lenght'] = pd.to_numeric(loan_data['int_emp_lenght'])

In [929]:
type(loan_data['int_emp_lenght'][0])

numpy.float64

In [930]:
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [931]:
loan_data['earliest_cr_line']= pd.to_datetime(loan_data['earliest_cr_line'],format='%b-%y')

In [932]:
type(loan_data['earliest_cr_line'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [933]:
pd.to_datetime('2017-12-01')- loan_data['earliest_cr_line']

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
            ...
466280    5358 days
466281    7488 days
466282    5844 days
466283    5417 days
466284    6513 days
Name: earliest_cr_line, Length: 466285, dtype: timedelta64[ns]

In [934]:
loan_data['mths_since_earliest_cr_line'] = round((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line']) / np.timedelta64(1, 'M'))

In [935]:
loan_data['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        239.482430
std          93.974829
min        -612.000000
25%         183.000000
50%         225.000000
75%         285.000000
max         587.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [936]:
loan_data['earliest_cr_line']

0        1985-01-01
1        1999-04-01
2        2001-11-01
3        1996-02-01
4        1996-01-01
            ...
466280   2003-04-01
466281   1997-06-01
466282   2001-12-01
466283   2003-02-01
466284   2000-02-01
Name: earliest_cr_line, Length: 466285, dtype: datetime64[ns]

In [937]:
loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line']<0] = loan_data['mths_since_earliest_cr_line'].max()

/var/folders/hg/jgrbrly50wz_1z4gjyycxhzr0000gn/T/ipykernel_95023/2340731311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line']<0] = loan_data['mths_since_earliest_cr_line'].max()

In [938]:
min(loan_data['mths_since_earliest_cr_line'])

73.0

In [939]:
loan_data['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [940]:
loan_data['issue_d']= pd.to_datetime(loan_data['issue_d'],format='%b-%y')

In [941]:
pd.to_datetime('2017-12-01')-loan_data['issue_d']

0        2192 days
1        2192 days
2        2192 days
3        2192 days
4        2192 days
            ...
466280   1430 days
466281   1430 days
466282   1430 days
466283   1430 days
466284   1430 days
Name: issue_d, Length: 466285, dtype: timedelta64[ns]

In [942]:
loan_data['mths_since_issue_d'] = pd.to_datetime('2017-12-01')-loan_data['issue_d']

In [943]:
loan_data['mths_since_issue_d']

0        2192 days
1        2192 days
2        2192 days
3        2192 days
4        2192 days
            ...
466280   1430 days
466281   1430 days
466282   1430 days
466283   1430 days
466284   1430 days
Name: mths_since_issue_d, Length: 466285, dtype: timedelta64[ns]

In [944]:
loan_data['mths_since_issue_d'].min()

Timedelta('1096 days 00:00:00')

In [945]:
loan_data['mths_since_issue_d'] = (pd.to_datetime('2017-12-01') - loan_data['issue_d']) / np.timedelta64(1, 'M')

In [946]:
loan_data['mths_since_issue_d'].min()

36.008952955912854

In [947]:
loan_data['mths_since_issue_d'].max()

126.03133534569498

In [948]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 78 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  datetime64[ns]
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  datetime64[ns]
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
 75  int_emp_lenght               445277 non-null  float64
 76  mths_since_earliest_cr_line  466256 non-null  float64
 77  mths_since_issue_d           466285 non-null  float64
dtypes: datetime64[ns](2), float64(49), int64(7), object(20)
memory usage: 277.5+ MB

## loading dummies

In [949]:
pd.get_dummies(loan_data['grade'])

        A  B  C  D  E  F  G
0       0  1  0  0  0  0  0
1       0  0  1  0  0  0  0
2       0  0  1  0  0  0  0
3       0  0  1  0  0  0  0
4       0  1  0  0  0  0  0
...    .. .. .. .. .. .. ..
466280  0  0  1  0  0  0  0
466281  0  0  0  1  0  0  0
466282  0  0  0  1  0  0  0
466283  1  0  0  0  0  0  0
466284  0  0  0  1  0  0  0

[466285 rows x 7 columns]

In [950]:
pd.get_dummies(loan_data['grade'],prefix= 'grade',prefix_sep= ':')

        grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
0             0        1        0        0        0        0        0
1             0        0        1        0        0        0        0
2             0        0        1        0        0        0        0
3             0        0        1        0        0        0        0
4             0        1        0        0        0        0        0
...         ...      ...      ...      ...      ...      ...      ...
466280        0        0        1        0        0        0        0
466281        0        0        0        1        0        0        0
466282        0        0        0        1        0        0        0
466283        1        0        0        0        0        0        0
466284        0        0        0        1        0        0        0

[466285 rows x 7 columns]

In [951]:
loan_data_dummies = [pd.get_dummies(loan_data['grade'],prefix= 'grade',prefix_sep=':'),
                     pd.get_dummies(loan_data['sub_grade'],prefix= 'sub_grade',prefix_sep= ':'),
                     pd.get_dummies(loan_data['home_ownership'],prefix='home_ownership',prefix_sep=':'),
                     pd.get_dummies(loan_data['verification_status'],prefix='verification_status',prefix_sep=':'),
                     pd.get_dummies(loan_data['loan_status'],prefix='loan_status',prefix_sep=':'),
                     pd.get_dummies(loan_data['purpose'],prefix='purpose',prefix_sep=':'),
                     pd.get_dummies(loan_data['addr_state'],prefix='addr_state',prefix_sep=':'),
                     pd.get_dummies(loan_data['initial_list_status'],prefix='initial_list_status',prefix_sep=':')
                     
                     ]

In [952]:
loan_data_dummies=pd.concat(loan_data_dummies,axis=1)

In [953]:
type(loan_data_dummies)

pandas.core.frame.DataFrame

In [954]:
loan_data= pd.concat([loan_data,loan_data_dummies],axis=1)

In [955]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'int_emp_lenght', 'mths_since_earliest_cr_line',
       'mths_since_issue_d', 'grade:A', 'grade:B', 'grade:C', 'grade:D',
       'grade:E', 'grade:F', 'grade:G', 'sub_grade:A1', 'sub_grade:A2',
       'sub_grade:A3', 'sub_grade:A4', 'sub_grade:A5', 'sub_grade:B1',
       'sub_grade:B2', 'sub_grade:B3', 'sub_grade:B4', 'sub_grade:B5',
       'sub_grade:C1', 'sub_grade:C2', 'sub_grade:C3', 'sub_grade:C4',
       'sub_grade:C5', 'sub_grade:D1', 'sub_grade:D2', 'sub_grade:D3',
       'sub_grade:D4', 'sub_grade:D5', 'sub_grade:E1', 'sub_grade:E2',
       'sub_grade:E3', 'sub_grade:E4', 'sub_grade:E5', 'sub_grade:F1',
       'sub_grade:F2', 'sub_grade:F3', 'sub_grade:F4', 'sub_grade:F5',
       'sub_grade:G1', 'sub_grade:G2', 'sub_grade:G3', 'sub_grade:G4',
       'sub_grade:G5', 'home_ownership:ANY', 'home_ownership:MORTGAGE',
       'home_ownership:NONE', 'home_ownership:OTHER',
       'home_ownership:OWN', 'home_ownership:RENT',
       'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Does not meet the credit policy. Status:Charged Off',
       'loan_status:Does not meet the credit policy. Status:Fully Paid',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Late (16-30 days)', 'loan_status:Late (31-120 days)',
       'purpose:car', 'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IA', 'addr_state:ID', 'addr_state:IL', 'addr_state:IN',
       'addr_state:KS', 'addr_state:KY', 'addr_state:LA', 'addr_state:MA',
       'addr_state:MD', 'addr_state:ME', 'addr_state:MI', 'addr_state:MN',
       'addr_state:MO', 'addr_state:MS', 'addr_state:MT', 'addr_state:NC',
       'addr_state:NE', 'addr_state:NH', 'addr_state:NJ', 'addr_state:NM',
       'addr_state:NV', 'addr_state:NY', 'addr_state:OH', 'addr_state:OK',
       'addr_state:OR', 'addr_state:PA', 'addr_state:RI', 'addr_state:SC',
       'addr_state:SD', 'addr_state:TN', 'addr_state:TX', 'addr_state:UT',
       'addr_state:VA', 'addr_state:VT', 'addr_state:WA', 'addr_state:WI',
       'addr_state:WV', 'addr_state:WY', 'initial_list_status:f',
       'initial_list_status:w'], dtype=object)

## Fillna/ missing Values

In [956]:
loan_data.isnull()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,int_emp_lenght,mths_since_earliest_cr_line,mths_since_issue_d,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,sub_grade:A1,sub_grade:A2,sub_grade:A3,sub_grade:A4,sub_grade:A5,sub_grade:B1,sub_grade:B2,sub_grade:B3,sub_grade:B4,sub_grade:B5,sub_grade:C1,sub_grade:C2,sub_grade:C3,sub_grade:C4,sub_grade:C5,sub_grade:D1,sub_grade:D2,sub_grade:D3,sub_grade:D4,sub_grade:D5,sub_grade:E1,sub_grade:E2,sub_grade:E3,sub_grade:E4,sub_grade:E5,sub_grade:F1,sub_grade:F2,sub_grade:F3,sub_grade:F4,sub_grade:F5,sub_grade:G1,sub_grade:G2,sub_grade:G3,sub_grade:G4,sub_grade:G5,home_ownership:ANY,home_ownership:MORTGAGE,home_ownership:NONE,home_ownership:OTHER,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,loan_status:Charged Off,loan_status:Current,loan_status:Default,loan_status:Does not meet the credit policy. Status:Charged Off,loan_status:Does not meet the credit policy. Status:Fully Paid,loan_status:Fully Paid,loan_status:In Grace Period,loan_status:Late (16-30 days),loan_status:Late (31-120 days),purpose:car,purpose:credit_card,purpose:debt_consolidation,purpose:educational,purpose:home_improvement,purpose:house,purpose:major_purchase,purpose:medical,purpose:moving,purpose:other,purpose:renewable_energy,purpose:small_business,purpose:vacation,purpose:wedding,addr_state:AK,addr_state:AL,addr_state:AR,addr_state:AZ,addr_state:CA,addr_state:CO,addr_state:CT,addr_state:DC,addr_state:DE,addr_state:FL,addr_state:GA,addr_state:HI,addr_state:IA,addr_state:ID,addr_state:IL,addr_state:IN,addr_state:KS,addr_state:KY,addr_state:LA,addr_state:MA,addr_state:MD,addr_state:ME,addr_state:MI,addr_state:MN,addr_state:MO,addr_state:MS,addr_state:MT,addr_state:NC,addr_state:NE,addr_state:NH,addr_state:NJ,addr_state:NM,addr_state:NV,addr_state:NY,addr_state:OH,addr_state:OK,addr_state:OR,addr_state:PA,addr_state:RI,addr_state:SC,addr_state:SD,addr_state:TN,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466281,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466282,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466283,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
466284,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [957]:
pd.options.display.max_rows = None
loan_data.isnull().sum()

Unnamed: 0                                                              0
id                                                                      0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
grade                                                                   0
sub_grade                                                               0
emp_title                                                           27588
emp_length                                                          21008
home_ownership                                                          0
annual_inc                                                              4
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
desc                                                               340302
purpose                                                                 0
title                                                                  20
zip_code                                                                0
addr_state                                                              0
dti                                                                     0
delinq_2yrs                                                            29
earliest_cr_line                                                       29
inq_last_6mths                                                         29
mths_since_last_delinq                                             250351
mths_since_last_record                                             403647
open_acc                                                               29
pub_rec                                                                29
revol_bal                                                               0
revol_util                                                            340
total_acc                                                              29
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt                                                             0
total_pymnt_inv                                                         0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_d                                                          376
last_pymnt_amnt                                                         0
next_pymnt_d                                                       227214
last_credit_pull_d                                                     42
collections_12_mths_ex_med                                            145
mths_since_last_major_derog                                        367311
policy_code                                                             0
application_type                                                        0
annual_inc_joint                                                   466285
dti_joint                                                          466285
verification_status_joint                                          466285
acc_now_delinq                                                         29
tot_coll_amt                                                        70276
tot_cur_bal                                                         70276
open_acc_6m                                                        466285
open_il_6m                                                         466285
open_il_12m                                                        466285
open_il_24m                                                        466285
mths_since_rcnt_il                                                 466285
total_bal_il                                                       466285
il_util                                                            466285
open_rv_12m                                                        466285
open_rv_24m                                                        466285
max_bal_bc                                                         466285
all_util                                                           466285
total_rev_hi_lim                                                    70276
inq_fi                                                             466285
total_cu_tl                                                        466285
inq_last_12m                                                       466285
int_emp_lenght                                                      21008
mths_since_earliest_cr_line                                            29
mths_since_issue_d                                                      0
grade:A                                                                 0
grade:B                                                                 0
grade:C                                                                 0
grade:D                                                                 0
grade:E                                                                 0
grade:F                                                                 0
grade:G                                                                 0
sub_grade:A1                                                            0
sub_grade:A2                                                            0
sub_grade:A3                                                            0
sub_grade:A4                                                            0
sub_grade:A5                                                            0
sub_grade:B1                                                            0
sub_grade:B2                                                            0
sub_grade:B3                                                            0
sub_grade:B4                                                            0
sub_grade:B5                                                            0
sub_grade:C1                                                            0
sub_grade:C2                                                            0
sub_grade:C3                                                            0
sub_grade:C4                                                            0
sub_grade:C5                                                            0
sub_grade:D1                                                            0
sub_grade:D2                                                            0
sub_grade:D3                                                            0
sub_grade:D4                                                            0
sub_grade:D5                                                            0
sub_grade:E1                                                            0
sub_grade:E2                                                            0
sub_grade:E3                                                            0
sub_grade:E4                                                            0
sub_grade:E5                                                            0
sub_grade:F1                                                            0
sub_grade:F2                                                            0
sub_grade:F3                                                            0
sub_grade:F4                                                            0
sub_grade:F5                                                            0
sub_grade:G1                                                            0
sub_grade:G2                                                            0
sub_grade:G3                                                            0
sub_grade:G4                                                            0
sub_grade:G5                                                            0
home_ownership:ANY                                                      0
home_ownership:MORTGAGE                                                 0
home_ownership:NONE                                                     0
home_ownership:OTHER                                                    0
home_ownership:OWN                                                      0
home_ownership:RENT                                                     0
verification_status:Not Verified                                        0
verification_status:Source Verified                                     0
verification_status:Verified                                            0
loan_status:Charged Off                                                 0
loan_status:Current                                                     0
loan_status:Default                                                     0
loan_status:Does not meet the credit policy. Status:Charged Off         0
loan_status:Does not meet the credit policy. Status:Fully Paid          0
loan_status:Fully Paid                                                  0
loan_status:In Grace Period                                             0
loan_status:Late (16-30 days)                                           0
loan_status:Late (31-120 days)                                          0
purpose:car                                                             0
purpose:credit_card                                                     0
purpose:debt_consolidation                                              0
purpose:educational                                                     0
purpose:home_improvement                                                0
purpose:house                                                           0
purpose:major_purchase                                                  0
purpose:medical                                                         0
purpose:moving                                                          0
purpose:other                                                           0
purpose:renewable_energy                                                0
purpose:small_business                                                  0
purpose:vacation                                                        0
purpose:wedding                                                         0
addr_state:AK                                                           0
addr_state:AL                                                           0
addr_state:AR                                                           0
addr_state:AZ                                                           0
addr_state:CA                                                           0
addr_state:CO                                                           0
addr_state:CT                                                           0
addr_state:DC                                                           0
addr_state:DE                                                           0
addr_state:FL                                                           0
addr_state:GA                                                           0
addr_state:HI                                                           0
addr_state:IA                                                           0
addr_state:ID                                                           0
addr_state:IL                                                           0
addr_state:IN                                                           0
addr_state:KS                                                           0
addr_state:KY                                                           0
addr_state:LA                                                           0
addr_state:MA                                                           0
addr_state:MD                                                           0
addr_state:ME                                                           0
addr_state:MI                                                           0
addr_state:MN                                                           0
addr_state:MO                                                           0
addr_state:MS                                                           0
addr_state:MT                                                           0
addr_state:NC                                                           0
addr_state:NE                                                           0
addr_state:NH                                                           0
addr_state:NJ                                                           0
addr_state:NM                                                           0
addr_state:NV                                                           0
addr_state:NY                                                           0
addr_state:OH                                                           0
addr_state:OK                                                           0
addr_state:OR                                                           0
addr_state:PA                                                           0
addr_state:RI                                                           0
addr_state:SC                                                           0
addr_state:SD                                                           0
addr_state:TN                                                           0
addr_state:TX                                                           0
addr_state:UT                                                           0
addr_state:VA                                                           0
addr_state:VT                                                           0
addr_state:WA                                                           0
addr_state:WI                                                           0
addr_state:WV                                                           0
addr_state:WY                                                           0
initial_list_status:f                                                   0
initial_list_status:w                                                   0
dtype: int64

In [958]:
pd.options.display.max_rows= 100

In [959]:
loan_data['total_rev_hi_lim']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
466280    29900.0
466281    39400.0
466282    13100.0
466283    53100.0
466284    16000.0
Name: total_rev_hi_lim, Length: 466285, dtype: float64

In [960]:
loan_data['total_rev_hi_lim'] = loan_data['total_rev_hi_lim'].replace('nan', np.nan).fillna(loan_data['total_rev_hi_lim'].isnull())

In [961]:
loan_data['total_rev_hi_lim'].isnull().sum()

0

In [962]:
loan_data['total_rev_hi_lim']

0            True
1            True
2            True
3            True
4            True
           ...
466280    29900.0
466281    39400.0
466282    13100.0
466283    53100.0
466284    16000.0
Name: total_rev_hi_lim, Length: 466285, dtype: object

In [963]:
loan_data['pub_rec'] = loan_data['pub_rec'].replace('nan', np.nan).fillna(loan_data['pub_rec'].isnull())

In [964]:
loan_data['pub_rec'].fillna(0,inplace=True)

In [965]:
loan_data['pub_rec'].isnull().sum()

0

In [966]:
loan_data['mths_since_earliest_cr_line'] = loan_data['mths_since_earliest_cr_line'].replace('nan', np.nan).fillna(loan_data['mths_since_earliest_cr_line'].isnull())

In [967]:
loan_data['acc_now_delinq'] = loan_data['acc_now_delinq'].replace('nan', np.nan).fillna(loan_data['acc_now_delinq'].isnull())

In [968]:
loan_data['total_acc'] = loan_data['total_acc'].replace('nan', np.nan).fillna(loan_data['total_acc'].isnull())

In [969]:
loan_data['open_acc'] = loan_data['open_acc'].replace('nan', np.nan).fillna(loan_data['open_acc'].isnull())

In [970]:
loan_data['inq_last_6mths'] = loan_data['inq_last_6mths'].replace('nan', np.nan).fillna(loan_data['inq_last_6mths'].isnull())

In [971]:
loan_data['delinq_2yrs'] = loan_data['delinq_2yrs'].replace('nan', np.nan).fillna(loan_data['delinq_2yrs'].isnull())

In [972]:
loan_data['int_emp_lenght'] = loan_data['int_emp_lenght'].replace('nan', np.nan).fillna(loan_data['int_emp_lenght'].isnull())

In [973]:
loan_data['annual_inc'] = loan_data['annual_inc'].replace('nan', np.nan).fillna(loan_data['annual_inc'].mean)

In [974]:
loan_data['annual_inc'].isnull().sum()

0

## PD Model

In [975]:
loan_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [976]:
loan_data['loan_status'].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [977]:
loan_data['loan_status'].value_counts() / loan_data['loan_status'].count()

Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: loan_status, dtype: float64

In [978]:
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Late (31-120 days)','Does not meet the credit policy. Status:Charged Off ','Default','Charged Off']),0 , 1)

In [979]:
loan_data['good_bad']

0         1
1         0
2         1
3         1
4         1
         ..
466280    1
466281    0
466282    1
466283    1
466284    1
Name: good_bad, Length: 466285, dtype: int64

# Spliting Data

In [980]:
from sklearn.model_selection import train_test_split

In [981]:
train_test_split(loan_data.drop('good_bad',axis= 1),loan_data['good_bad'])

[        Unnamed: 0        id  member_id  loan_amnt  funded_amnt  \
 411147      411147  14177879   16230274      24000        24000
 29633        29633    520620     673120      15000        15000
 369441      369441  18946262   21108861      25000        25000
 41726        41726    316139     316136      13925        13925
 340378      340378  20618586   22891393      14000        14000
 ...            ...       ...        ...        ...          ...
 200395      200395   1485939    1744908       6500         6500
 180227      180227   2376409    2838702      24000        24000
 16362        16362    733855     930275       3000         3000
 283378      283378  30245541   32788738      10000        10000
 444046      444046  11658074   13630258      12000        12000

         funded_amnt_inv        term  int_rate  installment grade sub_grade  \
 411147      24000.00000   36 months     11.99       797.03     B        B3
 29633       14678.91514   36 months     10.62       488.39     B        B3
 369441      24975.00000   60 months     10.99       543.44     B        B3
 41726       13225.00118   36 months     17.97       503.22     G        G3
 340378      14000.00000   36 months     13.98       478.36     C        C3
 ...                 ...         ...       ...          ...   ...       ...
 200395       6500.00000   36 months     14.33       223.20     C        C1
 180227      24000.00000   60 months     16.29       587.34     C        C4
 16362        3000.00000   36 months      7.66        93.54     A        A5
 283378      10000.00000   60 months     14.99       237.85     C        C5
 444046      12000.00000   60 months     23.70       343.13     F        F1

                                             emp_title emp_length  \
 411147                                    HR Director  10+ years
 29633                                  GMAC Insurance  10+ years
 369441                           Correctional Officer  10+ years
 41726   Springfield Center for Psychological Services   < 1 year
 340378                                            NaN        NaN
 ...                                               ...        ...
 200395                 United Cerebral Palsy of Miami    7 years
 180227                   Lake County Sheriff's Office  10+ years
 16362                         Interstate Distributor   10+ years
 283378                             Operations manager     1 year
 444046                                            NaN    5 years

        home_ownership annual_inc verification_status    issue_d  \
 411147       MORTGAGE   111000.0        Not Verified 2014-04-01
 29633        MORTGAGE    69000.0        Not Verified 2010-05-01
 369441       MORTGAGE    80520.0     Source Verified 2014-06-01
 41726        MORTGAGE    66000.0        Not Verified 2008-04-01
 340378            OWN   116000.0     Source Verified 2014-07-01
 ...               ...        ...                 ...        ...
 200395           RENT    34000.0        Not Verified 2012-09-01
 180227       MORTGAGE   104200.0            Verified 2012-12-01
 16362        MORTGAGE    50000.0        Not Verified 2011-04-01
 283378       MORTGAGE    52000.0        Not Verified 2014-10-01
 444046       MORTGAGE    50646.0     Source Verified 2014-02-01

                                               loan_status pymnt_plan  \
 411147                                         Fully Paid          n
 29633                                          Fully Paid          n
 369441                                            Current          n
 41726   Does not meet the credit policy. Status:Charge...          n
 340378                                            Current          n
 ...                                                   ...        ...
 200395                                         Fully Paid          n
 180227                                            Current          n
 16362                                          Fully Paid          n
 283378                                            Current          n
 444046                                            Current          n

                                                       url  \
 411147  https://www.lendingclub.com/browse/loanDetail....
 29633   https://www.lendingclub.com/browse/loanDetail....
 369441  https://www.lendingclub.com/browse/loanDetail....
 41726   https://www.lendingclub.com/browse/loanDetail....
 340378  https://www.lendingclub.com/browse/loanDetail....
 ...                                                   ...
 200395  https://www.lendingclub.com/browse/loanDetail....
 180227  https://www.lendingclub.com/browse/loanDetail....
 16362   https://www.lendingclub.com/browse/loanDetail....
 283378  https://www.lendingclub.com/browse/loanDetail....
 444046  https://www.lendingclub.com/browse/loanDetail....

                                                      desc             purpose  \
 411147                                                NaN  debt_consolidation
 29633     Borrower added on 05/21/10 > My credit score...  debt_consolidation
 369441                                                NaN         credit_card
 41726   I'm a physician who just joined a small practi...         credit_card
 340378                                                NaN  debt_consolidation
 ...                                                   ...                 ...
 200395    Borrower added on 08/26/12 > I have used a l...  debt_consolidation
 180227    Borrower added on 12/07/12 > I am working on...  debt_consolidation
 16362                                                 NaN    home_improvement
 283378                                                NaN    home_improvement
 444046                                                NaN  debt_consolidation

                                         title zip_code addr_state    dti  \
 411147                     Debt consolidation    430xx         OH  21.66
 29633   Debt Consolidation - Never misses pmt    144xx         NY  10.57
 369441                Credit card refinancing    935xx         CA  26.90
 41726                     Refinance & Conquer    627xx         IL  24.71
 340378                     Debt consolidation    750xx         TX  26.09
 ...                                       ...      ...        ...    ...
 200395                  Debt Consilation Loan    330xx         FL  33.10
 180227                          Consolidation    327xx         FL  30.25
 16362                        Home improvement    598xx         MT  25.56
 283378                       Home improvement    606xx         IL  11.95
 444046                     Debt consolidation    975xx         OR  14.74

        delinq_2yrs earliest_cr_line inq_last_6mths  mths_since_last_delinq  \
 411147         1.0       1988-05-01            0.0                    13.0
 29633          0.0       1995-12-01            0.0                     NaN
 369441         1.0       1998-06-01            1.0                    18.0
 41726          0.0       1989-06-01            7.0                     NaN
 340378         0.0       1995-06-01            0.0                    70.0
 ...            ...              ...            ...                     ...
 200395         0.0       2004-09-01            1.0                    43.0
 180227         0.0       1997-04-01            2.0                    57.0
 16362          0.0       1996-08-01            1.0                     NaN
 283378         0.0       1994-03-01            0.0                     NaN
 444046         0.0       1973-08-01            1.0                     NaN

         mths_since_last_record open_acc pub_rec  revol_bal  revol_util  \
 411147                     NaN     13.0     0.0      22714        63.1
 29633                      NaN     11.0     0.0      32036        55.8
 369441                     NaN     11.0     0.0      23802        65.2
 41726                      NaN     13.0     0.0      28570        93.7
 340378                     NaN     16.0     0.0      15768        69.5
 ...                        ...      ...     ...        ...         ...
 200395                     NaN      7.0     0.0       4063        90.3
 180227                     NaN     18.0     0.0      60641        96.4
 16362                    103.0     18.0     1.0      10716        26.0
 283378                    92.0     17.0     1.0       3671        26.2
 444046                    87.0      7.0     1.0       9565        95.6

        total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  \
 411147      39.0                   f       0.00           0.00  26115.650000
 29633       35.0                   f       0.00           0.00  16377.120000
 369441      37.0                   f   18505.82       18487.32  10325.360000
 41726       31.0                   f       0.00           0.00  11078.900000
 340378      21.0                   w    8110.76        8110.76   8132.120000
 ...          ...                 ...        ...            ...           ...
 200395      20.0                   f       0.00           0.00   7865.111283
 180227      32.0                   f   11537.74       11537.74  21729.200000
 16362       41.0                   f       0.00           0.00   3320.270000
 283378      28.0                   w    8149.55        8149.55   3546.930000
 444046      10.0                   f    9110.77        9110.77   7548.860000

         total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
 411147         26115.65         24000.00        2115.65                 0.0
 29633          15970.53         15000.00        1377.12                 0.0
 369441         10315.03          6494.18        3831.18                 0.0
 41726          10521.67          6799.31        3245.29                 0.0
 340378          8132.12          5889.24        2242.88                 0.0
 ...                 ...              ...            ...                 ...
 200395          7865.11          6500.00        1365.11                 0.0
 180227         21729.20         12462.26        9266.94                 0.0
 16362           3320.27          3000.00         320.27                 0.0
 283378          3546.93          1850.45        1696.48                 0.0
 444046          7548.86          2889.23        4659.63                 0.0

         recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
 411147         0.0                   0.0000       Jan-15         19739.41
 29633          0.0                   0.0000       Jun-11         11015.72
 369441         0.0                   0.0000       Jan-16           543.44
 41726       1034.3                 189.0804       Dec-09           503.22
 340378         0.0                   0.0000       Dec-15           478.36
 ...            ...                      ...          ...              ...
 200395         0.0                   0.0000       Oct-14          2518.35
 180227         0.0                   0.0000       Jan-16           587.34
 16362          0.0                   0.0000       May-13          1186.38
 283378         0.0                   0.0000       Jan-16           237.85
 444046         0.0                   0.0000       Jan-16           343.13

        next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  \
 411147          NaN             Jan-16                         0.0
 29633           NaN             May-15                         0.0
 369441       Feb-16             Jan-16                         0.0
 41726        May-10             May-10                         0.0
 340378       Feb-16             Jan-16                         0.0
 ...             ...                ...                         ...
 200395          NaN             Oct-14                         0.0
 180227       Feb-16             Jan-16                         0.0
 16362           NaN             May-13                         0.0
 283378       Feb-16             Jan-16                         0.0
 444046       Feb-16             Jan-16                         0.0

         mths_since_last_major_derog  policy_code application_type  \
 411147                         13.0            1       INDIVIDUAL
 29633                           NaN            1       INDIVIDUAL
 369441                         18.0            1       INDIVIDUAL
 41726                           NaN            1       INDIVIDUAL
 340378                         81.0            1       INDIVIDUAL
 ...                             ...          ...              ...
 200395                          NaN            1       INDIVIDUAL
 180227                         57.0            1       INDIVIDUAL
 16362                           NaN            1       INDIVIDUAL
 283378                          NaN            1       INDIVIDUAL
 444046                          NaN            1       INDIVIDUAL

         annual_inc_joint  dti_joint  verification_status_joint acc_now_delinq  \
 411147               NaN        NaN                        NaN            0.0
 29633                NaN        NaN                        NaN            0.0
 369441               NaN        NaN                        NaN            0.0
 41726                NaN        NaN                        NaN            0.0
 340378               NaN        NaN                        NaN            0.0
 ...                  ...        ...                        ...            ...
 200395               NaN        NaN                        NaN            0.0
 180227               NaN        NaN                        NaN            0.0
 16362                NaN        NaN                        NaN            0.0
 283378               NaN        NaN                        NaN            0.0
 444046               NaN        NaN                        NaN            0.0

         tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  open_il_12m  \
 411147           0.0     207012.0          NaN         NaN          NaN
 29633            NaN          NaN          NaN         NaN          NaN
 369441           0.0     136771.0          NaN         NaN          NaN
 41726            NaN          NaN          NaN         NaN          NaN
 340378           0.0     256745.0          NaN         NaN          NaN
 ...              ...          ...          ...         ...          ...
 200395           0.0      48233.0          NaN         NaN          NaN
 180227           0.0     322903.0          NaN         NaN          NaN
 16362            NaN          NaN          NaN         NaN          NaN
 283378         409.0     156330.0          NaN         NaN          NaN
 444046           0.0     224367.0          NaN         NaN          NaN

         open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  \
 411147          NaN                 NaN           NaN      NaN          NaN
 29633           NaN                 NaN           NaN      NaN          NaN
 369441          NaN                 NaN           NaN      NaN          NaN
 41726           NaN                 NaN           NaN      NaN          NaN
 340378          NaN                 NaN           NaN      NaN          NaN
 ...             ...                 ...           ...      ...          ...
 200395          NaN                 NaN           NaN      NaN          NaN
 180227          NaN                 NaN           NaN      NaN          NaN
 16362           NaN                 NaN           NaN      NaN          NaN
 283378          NaN                 NaN           NaN      NaN          NaN
 444046          NaN                 NaN           NaN      NaN          NaN

         open_rv_24m  max_bal_bc  all_util total_rev_hi_lim  inq_fi  \
 411147          NaN         NaN       NaN          36000.0     NaN
 29633           NaN         NaN       NaN             True     NaN
 369441          NaN         NaN       NaN          36500.0     NaN
 41726           NaN         NaN       NaN             True     NaN
 340378          NaN         NaN       NaN          22700.0     NaN
 ...             ...         ...       ...              ...     ...
 200395          NaN         NaN       NaN           4500.0     NaN
 180227          NaN         NaN       NaN          62900.0     NaN
 16362           NaN         NaN       NaN             True     NaN
 283378          NaN         NaN       NaN          14000.0     NaN
 444046          NaN         NaN       NaN          10000.0     NaN

         total_cu_tl  inq_last_12m int_emp_lenght mths_since_earliest_cr_line  \
 411147          NaN           NaN           10.0                       355.0
 29633           NaN           NaN           10.0                       264.0
 369441          NaN           NaN           10.0                       234.0
 41726           NaN           NaN            0.0                       342.0
 340378          NaN           NaN           True                       270.0
 ...             ...           ...            ...                         ...
 200395          NaN           NaN            7.0                       159.0
 180227          NaN           NaN           10.0                       248.0
 16362           NaN           NaN           10.0                       256.0
 283378          NaN           NaN            1.0                       285.0
 444046          NaN           NaN            5.0                       532.0

         mths_since_issue_d  grade:A  grade:B  grade:C  grade:D  grade:E  \
 411147           44.025545        0        1        0        0        0
 29633            91.040884        0        1        0        0        0
 369441           42.021397        0        1        0        0        0
 41726           116.010596        0        0        0        0        0
 340378           41.035750        0        0        1        0        0
 ...                    ...      ...      ...      ...      ...      ...
 200395           62.982813        0        0        1        0        0
 180227           59.993018        0        0        1        0        0
 16362            80.034498        1        0        0        0        0
 283378           38.013101        0        0        1        0        0
 444046           45.963983        0        0        0        0        0

         grade:F  grade:G  sub_grade:A1  sub_grade:A2  sub_grade:A3  \
 411147        0        0             0             0             0
 29633         0        0             0             0             0
 369441        0        0             0             0             0
 41726         0        1             0             0             0
 340378        0        0             0             0             0
 ...         ...      ...           ...           ...           ...
 200395        0        0             0             0             0
 180227        0        0             0             0             0
 16362         0        0             0             0             0
 283378        0        0             0             0             0
 444046        1        0             0             0             0

         sub_grade:A4  sub_grade:A5  sub_grade:B1  sub_grade:B2  sub_grade:B3  \
 411147             0             0             0             0             1
 29633              0             0             0             0             1
 369441             0             0             0             0             1
 41726              0             0             0             0             0
 340378             0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 200395             0             0             0             0             0
 180227             0             0             0             0             0
 16362              0             1             0             0             0
 283378             0             0             0             0             0

In [982]:
loan_data_inputs_train,loan_data_inputs_test,loan_data_targets_train,loan_data_targets_test = train_test_split(loan_data.drop('good_bad',axis= 1),loan_data['good_bad'])

In [983]:
loan_data_inputs_train.shape

(349713, 204)

In [984]:
loan_data_targets_train.shape

(349713,)

In [985]:
loan_data_inputs_test.shape

(116572, 204)

In [986]:
loan_data_targets_test.shape

(116572,)

In [987]:
loan_data_inputs_train,loan_data_inputs_test,loan_data_targets_train,loan_data_targets_test = train_test_split(loan_data.drop('good_bad',axis= 1),loan_data['good_bad'],test_size=0.2,random_state = 42)

In [988]:
loan_data_inputs_train.shape

(373028, 204)

In [989]:
loan_data_targets_train.shape

(373028,)

In [990]:
loan_data_inputs_test.shape

(93257, 204)

In [991]:
loan_data_targets_test.shape

(93257,)

#Data Preparation - Exampel

In [992]:
df_inputs_prepr = loan_data_inputs_train
df_targets_prepr = loan_data_targets_train

In [993]:
df_inputs_prepr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373028 entries, 427211 to 121958
Columns: 204 entries, Unnamed: 0 to initial_list_status:w
dtypes: datetime64[ns](2), float64(39), int64(7), object(30), uint8(126)
memory usage: 269.7+ MB

In [994]:
df_inputs_prepr['grade'].unique()

array(['A', 'C', 'D', 'B', 'E', 'F', 'G'], dtype=object)

In [995]:
df1 = pd.concat([df_inputs_prepr['grade'],df_targets_prepr],axis= 1)
df1.head()

       grade  good_bad
427211     A         1
206088     C         1
136020     A         1
412305     D         0
36159      C         0

In [996]:
df1.groupby(df1.columns.values[0],as_index=False)[df1.columns.values[1]].count()

  grade  good_bad
0     A     59759
1     B    109730
2     C    100245
3     D     61498
4     E     28612
5     F     10530
6     G      2654

In [997]:
df1.groupby(df1.columns.values[0],as_index=False)[df1.columns.values[1]].mean()

  grade  good_bad
0     A  0.961161
1     B  0.921589
2     C  0.886947
3     D  0.848987
4     E  0.809940
5     F  0.761159
6     G  0.748681

In [998]:
df1= pd.concat([df1.groupby(df1.columns.values[0],as_index=False)[df1.columns.values[1]].count(),df1.groupby(df1.columns.values[0],as_index=False)[df1.columns.values[1]].mean()],axis = 1)

In [999]:
df1

  grade  good_bad grade  good_bad
0     A     59759     A  0.961161
1     B    109730     B  0.921589
2     C    100245     C  0.886947
3     D     61498     D  0.848987
4     E     28612     E  0.809940
5     F     10530     F  0.761159
6     G      2654     G  0.748681

In [1000]:
df1 = df1.iloc[:,[0,1,3]]
df1

  grade  good_bad  good_bad
0     A     59759  0.961161
1     B    109730  0.921589
2     C    100245  0.886947
3     D     61498  0.848987
4     E     28612  0.809940
5     F     10530  0.761159
6     G      2654  0.748681

In [1001]:
df1.columns = [df1.columns.values[0],'n_obs','prop_good']
df1

  grade   n_obs  prop_good
0     A   59759   0.961161
1     B  109730   0.921589
2     C  100245   0.886947
3     D   61498   0.848987
4     E   28612   0.809940
5     F   10530   0.761159
6     G    2654   0.748681

In [1002]:
df1['prop_n_obs'] = df1['n_obs'] / df1['n_obs'].sum()
df1

  grade   n_obs  prop_good  prop_n_obs
0     A   59759   0.961161    0.160200
1     B  109730   0.921589    0.294160
2     C  100245   0.886947    0.268733
3     D   61498   0.848987    0.164862
4     E   28612   0.809940    0.076702
5     F   10530   0.761159    0.028228
6     G    2654   0.748681    0.007115

In [1003]:
df1['n_good'] = df1['prop_good'] * df1['n_obs']
df1['n_bad'] =(1- df1['prop_good']) * df1['n_obs']
df1

  grade   n_obs  prop_good  prop_n_obs    n_good    n_bad
0     A   59759   0.961161    0.160200   57438.0   2321.0
1     B  109730   0.921589    0.294160  101126.0   8604.0
2     C  100245   0.886947    0.268733   88912.0  11333.0
3     D   61498   0.848987    0.164862   52211.0   9287.0
4     E   28612   0.809940    0.076702   23174.0   5438.0
5     F   10530   0.761159    0.028228    8015.0   2515.0
6     G    2654   0.748681    0.007115    1987.0    667.0

In [1004]:
df1['prop_n_good'] = df1['n_good'] / df1['n_good'].sum()
df1['prop_n_bad'] = df1['n_bad'] / df1['n_bad'].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad
0,A,59759,0.961161,0.160200,57438.0,2321.0,0.172557,0.057787
1,B,109730,0.921589,0.294160,101126.0,8604.0,0.303807,0.214216
2,C,100245,0.886947,0.268733,88912.0,11333.0,0.267113,0.282161
3,D,61498,0.848987,0.164862,52211.0,9287.0,0.156854,0.231221
4,E,28612,0.809940,0.076702,23174.0,5438.0,0.069620,0.135392
5,F,10530,0.761159,0.028228,8015.0,2515.0,0.024079,0.062617
6,G,2654,0.748681,0.007115,1987.0,667.0,0.005969,0.016606

# woe weight of evidence

In [1005]:
df1['WoE'] = np.log(df1['prop_n_good'] / df1['prop_n_bad'])
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,A,59759,0.961161,0.160200,57438.0,2321.0,0.172557,0.057787,1.093973
1,B,109730,0.921589,0.294160,101126.0,8604.0,0.303807,0.214216,0.349405
2,C,100245,0.886947,0.268733,88912.0,11333.0,0.267113,0.282161,-0.054807
3,D,61498,0.848987,0.164862,52211.0,9287.0,0.156854,0.231221,-0.388057
4,E,28612,0.809940,0.076702,23174.0,5438.0,0.069620,0.135392,-0.665115
5,F,10530,0.761159,0.028228,8015.0,2515.0,0.024079,0.062617,-0.955693
6,G,2654,0.748681,0.007115,1987.0,667.0,0.005969,0.016606,-1.023144

In [1006]:
df1 = df1.sort_values(['WoE'])
df1 = df1.reset_index(drop=True)
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,G,2654,0.748681,0.007115,1987.0,667.0,0.005969,0.016606,-1.023144
1,F,10530,0.761159,0.028228,8015.0,2515.0,0.024079,0.062617,-0.955693
2,E,28612,0.809940,0.076702,23174.0,5438.0,0.069620,0.135392,-0.665115
3,D,61498,0.848987,0.164862,52211.0,9287.0,0.156854,0.231221,-0.388057
4,C,100245,0.886947,0.268733,88912.0,11333.0,0.267113,0.282161,-0.054807
5,B,109730,0.921589,0.294160,101126.0,8604.0,0.303807,0.214216,0.349405
6,A,59759,0.961161,0.160200,57438.0,2321.0,0.172557,0.057787,1.093973

In [1007]:
df1['dif_prop_good'] = df1['prop_good'].diff().abs()
df1['diff_WoE'] = df1['WoE'].diff().abs()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,dif_prop_good,diff_WoE
0,G,2654,0.748681,0.007115,1987.0,667.0,0.005969,0.016606,-1.023144,NaN,NaN
1,F,10530,0.761159,0.028228,8015.0,2515.0,0.024079,0.062617,-0.955693,0.012477,0.067451
2,E,28612,0.809940,0.076702,23174.0,5438.0,0.069620,0.135392,-0.665115,0.048781,0.290578
3,D,61498,0.848987,0.164862,52211.0,9287.0,0.156854,0.231221,-0.388057,0.039047,0.277058
4,C,100245,0.886947,0.268733,88912.0,11333.0,0.267113,0.282161,-0.054807,0.037960,0.333251
5,B,109730,0.921589,0.294160,101126.0,8604.0,0.303807,0.214216,0.349405,0.034642,0.404212
6,A,59759,0.961161,0.160200,57438.0,2321.0,0.172557,0.057787,1.093973,0.039571,0.744568

In [1008]:
df1['IV'] = (df1['prop_n_good'] - df1['prop_n_bad'] * df1['WoE'])
df1['IV'] = df1['IV'].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,dif_prop_good,diff_WoE,IV
0,G,2654,0.748681,0.007115,1987.0,667.0,0.005969,0.016606,-1.023144,NaN,NaN,1.13401
1,F,10530,0.761159,0.028228,8015.0,2515.0,0.024079,0.062617,-0.955693,0.012477,0.067451,1.13401
2,E,28612,0.809940,0.076702,23174.0,5438.0,0.069620,0.135392,-0.665115,0.048781,0.290578,1.13401
3,D,61498,0.848987,0.164862,52211.0,9287.0,0.156854,0.231221,-0.388057,0.039047,0.277058,1.13401
4,C,100245,0.886947,0.268733,88912.0,11333.0,0.267113,0.282161,-0.054807,0.037960,0.333251,1.13401
5,B,109730,0.921589,0.294160,101126.0,8604.0,0.303807,0.214216,0.349405,0.034642,0.404212,1.13401
6,A,59759,0.961161,0.160200,57438.0,2321.0,0.172557,0.057787,1.093973,0.039571,0.744568,1.13401